<h1><%=@artists.name%> Info</h1>

<h3>Name: <%=@artists.name%></h3>
<h3>Genre: <%=@artists.genre%></h3>
<img src="<%=@artists.photo_url%>" width="200">


<button><%= form_tag artist_path(@artists), method: "delete" do %>
<%= submit_tag("Delete")%>
<%end%></button>

<a href="/artists/<%=@artists.id%>/songs"><button>View Songs</button></a>

<a href="/artists"><button>View All Artists</button></a>

<a href="/artists/<%=@artists.id%>/edit"><button>Edit Artist</button></a>