<form action="/users" method="POST">

<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>

<!-- <label>
	First Name:
	<input type="text" name="first_name">
</label> -->
<label>
	First Name:
	<%= text_field(@user, :first_name) %>
</label>

<label>
	Last Name:
	<!-- <input type="text" name="last_name"> -->
	<%= text_field(@user, :last_name)%>
</label>

<label>
	Date of Birth:
	<!-- <input type="date" name="dob"> -->
	<%= date_field(@user, :dob)%>
</label>

<label>
	Email Address:
	<input type="text" name="email">
</label>

<label>
	Password:
	<%= password_field_tag(:password) %>
</label>

<label>
	Sex:
<%= radio_button_tag(:sex, "f") %>
<%= label_tag(:sex_female, "Female") %>
<%= radio_button_tag(:sex, "m") %>
<%= label_tag(:sex_male, "Male") %>
</label>


<label>
	Facebook Link:
	<input type="text" name="facebook_url">
</label>

<button>Create User</artist>

</form>

<%= form_for @user, url: {action: "create"}, html: {class:"nifty_form"} do |f| %>
	<label>First Name:<%= f.text_field :first_name%></label>
	<label>Last Name:<%= f.text_field :last_name%></label>
	<label>Date of Birth:<%= f.date_field :dob%></label>
	<label>Email Address:<%= f.text_field :email%></label>
	<label>Password:<%= f.text_field :password%></label>
	<label>Facebook URL: <%= f.text_field :facebook_link%></label>
	<label>
	Sex:
<%= radio_button_tag(:sex, "f") %>
<%= label_tag(:sex_female, "Female") %>
<%= radio_button_tag(:sex, "m") %>
<%= label_tag(:sex_male, "Male") %>
</label>

	<%= f.submit "Create" %>
<%end%>