<h1>User Info</h1>

<h3>First Name: <%=@user.first_name%></h3>
<h3>Last Name: <%=@user.last_name%></h3>
<h3>Sex: <%=@user.sex%></h3>
<h3>Date of Birth: <%=@user.dob%></h3>
<h3>Email Address: <%=@user.email%></h3>
<h3>Pasword: <%=@user.password%></h3>
<h3>Facebook Link: <%=@user.facebook_link%></h3>

<button><%= link_to "Update User", edit_user_path(@user)%></button>
<br><br>

<form action="/users/<%=@user.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE"/>
	 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	 <button>Delete User</button>
</form>
<br>

<button><%=link_to "Back to All Users", users_path(@user)%></button>
