<h1>User Info</h1>

<h3>First Name: <%=@users.first_name%></h3>
<h3>Last Name: <%=@users.last_name%></h3>
<h3>Sex: <%=@users.sex%></h3>
<h3>Date of Birth: <%=@users.dob%></h3>
<h3>Email Address: <%=@users.email%></h3>
<h3>Pasword: <%=@users.password%></h3>
<h3>Facebook Link: <%=@users.facebook_link%></h3>

<a href="/users/<%=@users.id%>/edit"><button>Update User</button></a><br><br>

<form action="/users/<%=@users.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE"/>
	 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	 <button>Delete User</button>
</form>
<br>

<a href="/users"><button>Back to All Users</button></a>
