<!DOCTYPE html>
<html>
<head>
  <title>TunrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= link_to "Home", root_path %>
	<%= link_to("Please Log in!", "/login") if session[:user_id].nil? %>
	<%= link_to("Log Out #{User.find_by(id: session[:user_id]).first_name}!", "/sessions", method:"delete")  unless session[:user_id].nil? %>
</header>
<%= yield %>

<!--<p>Session:</p>-->
<!--<%= debug session.to_hash %>-->
<br>
</body>
</html>
